@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-brand-primary: var(--brand-primary);
  --color-para: var(--dusty-gray);
  --font-covered: var(--font-covered-by-your-grace);
  --font-montserrat: var(--font-montserrat);
  --font-forum: var(--font-forum);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --brand-primary: red;
  --dusty-gray: #949494;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --brand-primary: green;
  --dusty-gray: #949494;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  .heading {
    @apply font-montserrat font-bold text-2xl;
  }
  .para-text {
    @apply font-montserrat text-base leading-7.5 text-gray-600 dark:text-para;
  }
  .link-text {
    @apply font-montserrat text-base underline text-black/90 dark:text-white/90 underline-offset-3;
  }
  .nav-link {
    @apply font-montserrat text-base text-gray-800 dark:text-gray-300;
  }
}

@layer utilities {
  .name {
    @apply font-covered text-4xl text-foreground;
  }
  .name-morse-code {
    @apply text-xs text-black/70 dark:text-white/50;
  }
  .designation {
    @apply font-forum text-base;
  }
  .accordion-header {
    @apply flex justify-between font-montserrat font-semibold !text-lg hover:no-underline;

    .company {
      @apply font-montserrat text-lg font-semibold text-gray-800 dark:text-white;
    }

    .role,
    .duration,
    .location {
      @apply font-montserrat text-sm font-normal text-gray-600 dark:text-para;
    }

    .location {
      @apply text-gray-600 dark:text-para;
    }
  }

  .project-card {
    .status {
      @apply font-montserrat text-sm font-medium;
    }
    .status-bg {
      @apply absolute top-2 right-2 px-3 py-1 flex items-center gap-2 rounded-sm;
    }
    .status-completed {
      @apply bg-green-500/20 text-green-900;

      .dot {
        @apply bg-green-700;
      }

      .status {
        @apply text-green-500/70;
      }
    }
    .status-in-progress {
      @apply bg-yellow-500/20 text-yellow-900;

      .dot {
        @apply bg-yellow-600;
      }

      .status {
        @apply text-yellow-500/70;
      }
    }

    .title {
      @apply font-montserrat text-xl font-semibold leading-7 text-foreground;
    }
    .tech-stack-label {
      @apply font-montserrat text-sm font-bold text-black/50 dark:text-white/60;
    }
  }
}

@layer components {
  .hidden-slide {
    opacity: 0;
    visibility: hidden;
  }

  .slide-up {
    /* animation: slideUp 1.2s ease-out forwards; */
     animation: slideUpAndOut 2s ease-in-out forwards;
  }
}

/* Animations */
@keyframes slideUp {
  from {
    transform: translateY(800px);
    opacity: 0;
    visibility: visible;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideUpAndOut {
  0% {
    transform: translateY(600px);
    opacity: 0;
    visibility: visible;
  }
  25% {
    transform: translateY(200px);
    opacity: 1;
    visibility: visible;
  }
  75% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: translateY(-600px);
    opacity: 0;
    visibility: hidden;
  }
}
